<html>
<head>
<title>2D Climber</title>
<script src="/socket.io/socket.io.js"></script>
<script src="connect.js"></script>
</head>
<body>
    <input type="text" id="ip"><br>
    <button onclick="send_msg()">Submit</button>
</body>
</html>